.logoutConfirmPage {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .logoutConfirmHeader {
        font-size: 14px;
    }

    .submitWrapper {
        input {
            color: #fff;
            border: none;
            border-radius: 1px;
            width: 100%;
            padding: 12px 16px;
            border-radius: 4px;
            font-size: 20px;
            line-height: 1.3333333;
            background-color: #000;
        }
    }
}