@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'STIX Two Text';
  src: url(../assets/fonts/STIXTwoText-Bold.ttf);
}

.kcBaseHtml {
  background: none;
  background-color: #fff;
  height: 100%;
  width: 100%;

  body {
    font-family: 'Roboto', sans-serif;
  
    .kcLoginFormPage {
      padding-bottom: 2.3rem;
    
      .kcLoginFormHeader {
        div {
          span {
            color: black;
            font-family: 'STIX Two Text', sans-serif;
          }
        }
      }

      .kcLoginFormCard { 
        background-color: #fff;
        border-radius: 5px;
        margin: 0 2rem;
      
        .kcSignUpCard {
          div {
            margin-top: 19px!important;
            padding: 0!important;
          }
        }
      }
    }
  }
}
